# Build directories
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Object files
*.o
*.obj

# Executables
metrics
*.exe
*.out

# Logs and temporary files
*.log
*.tmp

# IDE-specific files
.vscode/
*.swp
*.swo